.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    height: 400px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-column {
    background-color: #f5ffea;
}

.second-column {
    background-color: #fffbf5;
}

.movable-item {
    border-radius: 5px;
    background-color: #fff3f3;
    height: 100px;
    width: 170px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
